@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #010326;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #010326;
    --foreground: #ededed;
  }
}